{{ template "base" .}}
{{define "main"}}
    <section class="vh-100" style="background-color: #9de2ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex text-black">
                            <div class="flex-shrink-0">
                                <img src="https://www.thispersondoesnotexist.com/image?"
                                     alt="Generic placeholder image" class="img-fluid"
                                     style="width: 180px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                {{if .OtherUsername}}
                                <h5 class="mb-1">{{.OtherUsername}}</h5>
                                    {{else}}
                                    <h5 class="mb-1">{{.Username}}</h5>
                                        {{end}}
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                     style="background-color: #efefef;">
                                    <div>
                                        {{if .OtherUsername}}
                                        <p class="mb-0">Количество записей: {{len .Notes}}</p>
                                        <p class="mb-0">Подписчики: {{.Subscribes_count}}</p>
                                        <p class="mb-0">Подписки: {{.Follows_count}}</p>
                                            {{else}}
                                            <p class="mb-0">Количество записей: {{len .Notes}}</p>
                                           <a href="/subscribes"> <p class="mb-0">Подписки: {{.Subscribes_count}}</p></a>
                                          <a href="/followers"><p class="mb-0">Подписчики: {{.Follows_count}}</p></a>
                                        {{end}}
                                    </div>
                                </div>
                                {{if .IsAuth}}
                                {{if .OtherUsername}}
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2">
                                    <div>
                                        <form method="post">
                                            {{if .Sub_fact}}
                                                <input type="submit" class="btn btn-primary btn-lg" value="Отписаться"/>
                                            {{else}}
                                                 <input type="submit" class="btn btn-primary btn-lg" value="Подписаться"/>
                                            {{end}}
                                        </form>
                                    </div>
                                </div>
                                {{end}}
                                {{end}}
                            </div>
                        </div>
                    </div>
                    {{if .Notes}}
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered align-middle" style="display: block; height:15vw;overflow:scroll;">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">Заголовок</th>
                                        <th scope="col">Создан</th>
                                        <th scope="col">Автор</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{range .Notes}}
                                        <tr>
                                            <th scope="row"><a href='/notes?id={{.ID}}'>{{.Title}}</a></th>
                                            <td>{{.Created}}</td>
                                            <td>{{.Username}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {{else}}
                        <p>Здесь ничего нет... пока что!</p>
                    {{end}}
            </div>
        </div>
    </div>
    </div>
</section>
{{end}}