{{ template "base" .}}
{{define "main"}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.8.0/ckeditor.js"></script>
    <h2 class="text-center" >Создание записи</h2>
<form method="post">
    <div class="row justify-content-center">
    <div class="col-md-6 .offset-md-3">
        <label for="exampleFormControlTextarea2">Заголовок:</label>
        <input class="form-control" name="title" id="exampleFormControlTextarea2" rows="1" placeholder="Заголовок..."></br>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-md-6 .offset-md-3">
        <label for="exampleFormControlTextarea1">Текст:</label>
        <textarea id="editor" name="content" placeholder="Поле для ввода текста...">
        </textarea>
    </div>
    </div></br>
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <input type="submit" class="btn btn-primary btn-lg" value="Опубликовать"/>
    </div>
</form>
    <script>
        CKEDITOR.replace('editor');
    </script>
{{end}}