{{define "header"}}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="https://raw.githubusercontent.com/golang-samples/gopher-vector/master/gopher-front.svg" width="64" height="64">
        </a>
        {{if .IsAuth}}
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Главная страница</a></li>
                <li><a href="/notes/create" class="nav-link px-2 link-dark">Добавить запись</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2"><a href="/account">{{ .Username}}</a></button>
                <button type="button" class="btn btn-outline-primary me-2"><a href="/logout">Выйти</a></button>
            </div>
        {{else}}
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Главная страница</a></li>
                <li><a href="/auth" class="nav-link px-2 link-dark">Добавить запись</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <a href="/auth"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
                <a href="/singup"><button type="button" class="btn btn-primary">Зарегистрироваться</button></a>
            </div>
        {{end}}
    </header>
</div>
{{end}}