{{ template "base" .}}
{{define "main"}}
<h2 class="text-center">Что нового?</h2>
{{if .Notes}}
<div class="container">
<div class="table-responsive">
<table class="table table-hover table-bordered align-middle caption-top">
    <caption>Последние 10 записей:</caption>
    <thead class="table-light">
    <tr>
        <th scope="col">Заголовок</th>
        <th scope="col">Создан</th>
        <th scope="col">Автор</th>
    </tr>
    </thead>
    <tbody>
    {{range .Notes}}
    <tr>
        <th scope="row"><a href='/notes?id={{.ID}}'>{{.Title}}</a></th>
        <td>{{.Created}}</td>
        <td><a href='user?id={{.Username}}'>{{.Username}}</a></td>
    </tr>
    {{end}}
    </tbody>
</table>
</div>
</div>
{{else}}
<p>Здесь ничего нет... пока что!</p>
{{end}}
{{end}}
